{erl_opts, [
   %native, {hipe, o3}, 
   {parse_transform, lager_transform}
]}.
{lib_dirs, ["deps"]}.
{cover_enabled, true}.

{deps, [
   % logging fw
   {lager, ".*",
      {git, "https://github.com/basho/lager", {tag, '1.2.1'}}
   }

   % fogfish erlang toolkit archive
  ,{feta, ".*",
      {git, "https://github.com/fogfish/feta", {branch, master}}
   }
]}.
