{erl_opts, []}.
{lib_dirs, ["deps"]}.
{cover_enabled, true}.

{deps, [
   {feta, ".*",
      {git, "https://github.com/fogfish/feta", {branch, master}}
   }

  ,{datum, ".*",
      {git, "https://github.com/fogfish/datum", {branch, master}}
   }

  ,{uid, ".*",
      {git, "https://github.com/fogfish/uid", {branch, master}}
   }
]}.
