{deps, [
   {datum, ".*",
      {git, "https://github.com/fogfish/datum", {branch, master}}
   }

,  {pipe, ".*",
      {git, "https://github.com/kfsm/pipe", {branch, master}}
   }

,  {feta, ".*",
      {git, "https://github.com/fogfish/feta", {branch, master}}
   }

,  {uid, ".*",
      {git, "https://github.com/fogfish/uid", {branch, master}}
   }
]}.
