{erl_opts, [
   %native, {hipe, o3} 
]}.
{lib_dirs, ["deps"]}.
{cover_enabled, true}.

{deps, [
   % fogfish erlang toolkit archive
   {feta, ".*",
      {git, "https://github.com/fogfish/feta", {branch, master}}
   }

   % 
  ,{datum, ".*",
      {git, "https://github.com/fogfish/datum", {branch, master}}
   }


]}.
